{% extends 'base.html.twig' %}

{% block section %}

        <p class="box_book">

            {{ bookShow.title }} : {{ bookShow.nbpages }} pages. <br><strong>Catégorie :</strong>{{ bookShow.style}}

        </p>

    </div>
{% endblock %}