{% extends 'base.html.twig' %}

{% block section %}

    <article>

        <p class="box_book"><h2>{{ book.title }}</h2> : {{ book.nbpages }} pages. <br>Catégorie :{{ book.style}}</p>

    </article>

    </div>
{% endblock %}
